.zmp3-logo {
    width: 120px;
    height: 40px;
    margin-top: 5px;
    display: inline-block;
    background: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg) 50%/contain no-repeat;
}
input[type = 'search']::-webkit-search-cancel-button{
    -webkit-appearance: none;
    cursor: pointer;

    height: 15px;
    width: 15px;
    background-image: url("./../../assets/img/icon/close.png");
    background-size: cover;
}
